body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pixel {
    border: solid black 1px;
    width: 10px;
    height: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(219, 42, 42) 48px;
    background-color: grey;
    border-radius: 8px;
    width: 960px;
    height: 840px;
}

.user-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.draw {
    padding: 5px;
    background-color: bisque;
    border-radius: 4px;
}

.grid-value {
    padding: 10px;
    border-radius: 4px;
}